################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuanTriTrongOracle/FileContentIndex/6b3e0526-d621-4d4c-bf58-104af9ec935a.vsidx
/.vs/QuanTriTrongOracle/FileContentIndex/853dd68c-b735-4f9c-bcff-45aaa2f43824.vsidx
/.vs/QuanTriTrongOracle/FileContentIndex/e3d0f701-45fa-4ea5-8282-9115571e6a7c.vsidx
/.vs/QuanTriTrongOracle/FileContentIndex/08a7eece-2f60-4c63-a61b-4827ac9ee74f.vsidx
/.vs/QuanTriTrongOracle/FileContentIndex/d784f318-aad5-4f2e-899f-6eb05511f87d.vsidx
/.vs/QuanTriTrongOracle/FileContentIndex/fabd75df-509a-4b20-9f86-c7e1104dedb8.vsidx
/.vs/QuanTriTrongOracle/FileContentIndex/fbdb36c7-9b07-4366-84e8-154e80cb8bde.vsidx
