################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuanTriTrongOracle/FileContentIndex/9cd0f7e9-3ce6-44ad-96fe-4de579c8eb3c.vsidx
