################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuanTriTrongOracle/FileContentIndex/56fdd4c2-4231-477a-a6a3-4175ea1fece9.vsidx
/.vs/QuanTriTrongOracle/FileContentIndex/67c86db3-674b-42c0-bc09-2c60aa6d7e4c.vsidx
